@model ToDo.Models.Task
@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edit Task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f4f4f4;
            padding: 20px;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 24px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .btn-primary {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Edit Task</h1>
        <form method="post" action="/Task/Edit/@Model.Id">
            <div class="form-group">
                <label for="tasktext">Edit Your Task</label>
                <input type="text" name="tasktext" value="@Model.TaskText" id="tasktext" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <br /><br />
            <a href="/user/home" class="btn btn-primary">Back To Home</a>
        </form>
    </div>
</body>
</html>
